<form class="form chat--input" action="/" method="POST">
  <div class="form-row align-items-center justify-content-center w-100">
    <div class="col-10">
      <div class="form-group">
        <label class="sr-only" for="userMessage">User Message</label>
        <textarea class="form-control" id="userMessage" name="userMessage" rows="1" placeholder="Enter message here..." required></textarea>
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn--accent">Submit</button>
    </div>
  </div>
</form>